

<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Catalogo</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <!--binding del dom al property del objeto
    [propiedadDelComponente]="valorDesdeElDOM"
    bind-propiedadDelComponente="valorDesdeElDOM"
    -->
    <mat-grid-list [cols]="2" bind-rowHeight="'300px'" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let item of items" [colspan]="1" [rowspan]="1"  [routerLink]="['/itemdetail', item.id]" > <!--(click) = "onSelect(item)"-->
        <img height="200px" src={{item.image}} alt={{item.name}}>
        <mat-grid-tile-footer>
          <h1 mat-line><p>{{item.name | uppercase}}</p></h1>
          <h3 mat-line>SubCategory</h3>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!--<app-item-detail [item] = "selectedItem"></app-item-detail>-->
</div>

